main {
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.section {
    height: 100%;
    scroll-snap-align: start;

    &.section1 {
        display: grid;
        align-content: start;
        gap: 30px;
    }
}

.collorCombinator {
    display: grid;
    grid-template-areas:
        "red res "
        "green res"
        "blue res"
    ;
    justify-content: start;
    gap: 12px;

    &>*:nth-child(1) {
        grid-area: red;
    }

    &>*:nth-child(2) {
        grid-area: green;

    }

    &>*:nth-child(3) {
        grid-area: blue;
    }

    &>.resColor {
        grid-area: res;
        aspect-ratio: 1/1;
        height: 100%;
        border: 2px solid black;
        padding: 20px;

        div {
            height: 100%;
            width: 100%;
        }
    }
    
    // &:nth-child(1){
    //     background-color: lightblue;
    // }
    // &:nth-child(2){
    //     background-color: lightcoral;
    // }
    // &:nth-child(3){
    //     background-color: lightgreen;
    // }
}
