<main class="_preventSelect">
  <section class="section section1">
    <app-memory-interaction-package [visualizers]="[Visualizers.number]" [minVal]="0" [maxVal]="255" ></app-memory-interaction-package>
    <app-memory-interaction-package [visualizers]="[Visualizers.number, Visualizers.ascii]" [minVal]="33" [maxVal]="126" ></app-memory-interaction-package>
    <div class="collorCombinator">
      <app-memory-interaction-package [visualizers]="[Visualizers.r]" [minVal]="0" [maxVal]="255" [memory]="red"></app-memory-interaction-package>
      <app-memory-interaction-package [visualizers]="[Visualizers.g]" [minVal]="0" [maxVal]="255" [memory]="green"></app-memory-interaction-package>
      <app-memory-interaction-package [visualizers]="[Visualizers.b]" [minVal]="0" [maxVal]="255" [memory]="blue"></app-memory-interaction-package>
      <div class="resColor">
        <div [style.background-color]="resColor()"></div>
      </div>
    </div>
  </section>
  <!-- <section class="section"></section>
  <section class="section"></section> -->
</main>